{% extends "base.html" %}
{% block title %}{% if object %}Editar{% else %}Nova{% endif %} Lei{% endblock %}
{% block content %}
  <h1>{% if object %}Editar{% else %}Nova{% endif %} Lei</h1>
  <form method="post">{% csrf_token %}
    {{ form.as_bootstrap }}
    <h4>Artigos</h4>
    {{ artigo_formset.management_form }}
    <table class="table table-sm">
      {% for form in artigo_formset %}
      <tr>
        <td>{{ form.numero_artigo }}</td>
        <td>{{ form.texto }}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
      {% endfor %}
    </table>
    <button class="btn btn-primary">Salvar</button>
  </form>
{% endblock %}
